body{
background-color: rgb(235, 217, 217);
margin: 0px;
}
.a{
background-color: blue;
margin: 2px;
height: 5px;
width: 5px;
}
.b{background-color: black;
    margin: 2px;
    height: 10px;
    width: 10px;
}
.c{background-color: chartreuse;
    margin: 2px;
    height: 15px;
    width: 15px;
}
.d{
    background-color: cornflowerblue;
    margin: 2px;
    height: 20px;
    width: 20px;
}
.e{
background-color: chocolate;
margin: 2px;
height: 25;
width: 25px;
}
.f{
    background-color: aqua;
    margin: 2px;
    height: 30px;
    width: 30px;
}
.g{
    background-color: rgb(0, 0, 0);
    margin: 2px;
    height: 35px;
    width: 35px;

}

  .h{background-color: rgb(206, 56, 252);
    margin: 2px;
    height: 40px;
    width: 40px;
}


 .i{background-color: rgb(242, 255, 255);
    margin: 2px;
    height: 45px;
    width: 45px;
    
}
.j{background-color: crimson;
    margin:2px;
    height:50px;
    width: 50px;

}

.k{background-color: darkgoldenrod; 
    margin: 2px;
    height: 55px;
    width: 55px;

}

.l{background-color:darkslategray ;
    margin:2px;
    height:60px ;
    width:60px;

}

.m{background-color:yellow;
    margin:2px;
    height:65px;
    width:65px;

}


.n{background-color:teal ;
    margin:2px;
    height:70px;
    width:70px;

}

.ñ{background-color:bisque;
    margin:2px;
    height:75px;
    width:75px;

}

.o{background-color:crimson;
    margin:2px;
    height:80px;
    width:80px;

}

.p{background-color:chartreuse;
    margin:2px;
    height:85px;
    width:85px;

}

.q{background-color:aliceblue ;
    margin:2px;
    height:90px;
    width:90px;

}

.r{background-color:aqua ;
    margin:2px;
    height:95px;
    width:95px;

}

.s{background-color:blueviolet;
    margin:2px;
    height:100px;
    width:100px;

}

.t{background-color:yellowgreen;
    margin:2px;
    height:105px;
    width:105px;

}

.u{background-color: black;
    margin:2px;
    height:110px;
    width: 110px ;
}

.v{
    background-color:darkcyan ;
    margin: 2px;
    height:115px;
    width:115px;
}

.w{
    background-color: thistle;
    margin:2px;
    height:120px;
    width: 120px;
    
}

.x{
background-color: violet;
margin:2px;
height:125px;
width:125px;
}

.y{
    background-color: rgb(0, 217, 255);
    margin:2px;
    height:130px;
    width:130px;
}

.z{
    background-color: yellowgreen;
    margin:2px;
    height:135px;
    width:135px;
}

.aa{background-color: black;
    margin:2px;
    height:140px;
    width:140px;

}

.bb{
    background-color: yellow;
    margin:2px;
    height:145px;
    width:145px;
}

.cc{
    background-color: turquoise;
    margin:2px;
    height:150px;
    width:150px;
}

.dd{
    background-color: black;
    margin:2px;
    height:155px;
    width:155px;
}

.ee{

    background-color: blueviolet;
    margin:2px;
    height:160px;
    width:160px;
}


