body{
    background-color: rgb(102, 255, 242);
text-align: center;
}
.a{color: rgb(0, 0, 0);
font-family: cursive;
font-weight: 1000;
font-size:xx-large}
.n{
 font-family: cursive;
 color: rgb(134, 158, 160);
}